@use '../../styles/mixins/media-query' as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0.75rem;
};

.logo {
  margin: 0 0.75rem;
};

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

.title {
  margin: 0.5rem;
  font-size: 2.5rem;
  &:visited, &:active {
    color: inherit;
  };
};

.contact {
  display: flex;
  font-style: normal;

  &__number {
    display: none;
    @include media-query(small) {
      display: block;
      margin-left: 0.5rem;
    };
  };
};
