@use 'styles/mixins/media-query' as *;

.header {
  display: flex;
  background: var(--footer-background);
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;

  @include media-query(small) {
    flex-direction: column;
    padding: 1rem 3rem;
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @include media-query(small) {
      margin-bottom: 1.5rem;
    };

    .logo {
      display: flex;
      align-items: center;
      flex-direction: row;

      &Wrapper {
        flex-grow: 1;
      };

      &Image {
        height: 4.5rem;
        width: auto;
      };

      &Title {
        margin: 0;
        margin-left: 0.75rem;
        user-select: none;
        font-size: 1rem;

        @include media-query(xsmall) {
          font-size: 1.2rem;
        }
        @include media-query(small) {
          font-size: 1.75rem;
        }
        @include media-query(medium) {
          font-size: 2rem;
        }
      };
    };
    .phoneLink {
      margin: 0 0.5rem;

      .contact {
        display: flex;
        align-items: center;
        font-style: normal;
        padding: 0.25rem;

        &Number {
          display: none;
          text-align: right;
          padding-right: 0.5rem;

          @include media-query(small) {
            display: block;
            font-weight: bold;
            padding: none;
          };
        };
      };
    }
  };
};
