@import '../../../globalStyles/colors';
@import '../../../globalStyles/fonts';

// TODO: Stop banner text wrapping
// TODO: Add background color to Banner to differentiate?
.banner {
	&__title {
		@include logoFont();
		padding-bottom: 1rem;
	}
	&__address, &__telephone {
		@include logoAddressFont();
		padding-bottom: 0.75rem;
	}
	&__logo {
		padding: 1rem;
	}
	&__details {
		text-align: center;
	}
	&__telephone {
		a {
			// TODO: Look at potential colour options for <a> elements
			// color: color(homepage, hpc-blue, 1);
		}
	}

	.row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}