@import '../../../globalStyles/colors';
@import '../../../globalStyles/sizes';

.profile {

	display: flex;
	@include mediaQueryFor(small, max) {
		flex-direction: column;
	}

	&__image {
		padding: 1rem;
		display: flex;
		img {
			height: 15rem;
			margin: auto;
		}
	}

	&__name {
		display: inline-block;
		color: color(homepage, hpc-red, 1);
		padding: 0.5rem 1rem;
		font-weight: bold;
	}
	&__qualification-year {
		display: inline-block;
		font-weight: bold;
	}
	&__specialities {
		padding: 0 1rem;
		&-title {
			font-weight: bold;
		}
	}
	&__bio {
		padding: 0 1rem;
	}
}