// Use @import './globalStyles/colors.scss'; when you want to use these colors in any other sass files

$colors: (
	homepage: (
		hpc-blue: (
			1: #330099,
			2: #000a99
		),
		hpc-white: (
			1: #dddddd,
			2: #ffffff
		),
		hpc-gray: (
			1: #333333,
			2: #000000
		),
		hpc-red: (
			1: #cc0000,
			2: #db0f0f
		)
	)
);

@function color($section, $name, $tint: 100) {
	@return map-get(map-get(map-get($colors, $section), $name), $tint);
}