// colors, fonts, and sizes need to be imported for each use case
@import 'colors';
@import 'fonts';

// app and grid styles are imported globally here
// Don't import elsewhere
@import 'app';
@import 'grid';

// import fonts here:
// @import url('https://fonts.googleapis.com/css?family=Bebas+Neue');


html {
	font-size: 10px;
	scroll-behavior: smooth;
	height: 100%;
}

body {
	margin: 0;
	@include bodyFont();
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page {
	flex: 1 0 auto;
}

h3 {
	@include bodyFont();
	font-weight: bold;
}