import React from 'react';
import Head from 'next/head';

export const {{pascalCase name}} = (): JSX.Element => {
  return (
    <>
      <Head>
        <title>{{titleCase name}} | Highworth Physiotherapy Clinic</title>
      </Head>
      <main>

      </main>
    </>
  );
}

export default {{pascalCase name}};
