// TODO: SEE THIS ARTICLE FOR WHY I'VE GONE TO HSL AND HOW TO CREATE TONE SHADES:
// https://georgefrancis.dev/writing/a-beginners-guide-to-applying-color-in-ui-design/

$colors: (
  blue: (
    100: hsl(260, 100, 30),
    200: hsl(260, 100, 30),
    300: hsl(260, 100, 30),
    400: hsl(260, 100, 30),
    500: hsl(260, 100, 30),
  ),
  black: (
    100: hsl(70, 5, 22),
    200: hsl(70, 5, 22),
    300: hsl(70, 5, 22),
    400: hsl(70, 5, 22),
    500: hsl(70, 5, 22),
  ),
  red: (
    100: hsl(357, 93, 40),
    200: hsl(0, 100, 26),
    300: hsl(0, 0, 0),
    400: hsl(0, 0, 0),
    500: hsl(0, 0, 0),
  ),
);


// TODO: SEE THE FOLLOWING LINKS FOR THEME IDEAS
// https://coolors.co/generate
// http://colormind.io/
// https://mycolor.space/
$themes: (
  light: (
    background: white,
    text: #3b3c36,
    pageHeading: #330099,
    subHeading: #c50711,
  ),
  dark: (
    // TODO: Purple and red don't work with that background color.
    background: #3b3c36,
    text: white,
    pageHeading: #330099,
    subHeading: #c50711,
  ),
);
