@use 'styles/mixins/media-query' as *;
@use 'styles/mixins/use-theme' as *;
@use 'styles/mixins/reset' as *;
@use 'styles/variables/fonts';

@import 'styles/layout/layout';

@include use-theme();

body {
  background: var(--background-color);
};

h1 {
  font-family: fonts.$font-family-heading;
  font-weight: fonts.$font-weight-bold;
};

h2, h3, h4, h5, h6 {
  font-family: fonts.$font-family-subheading;
  font-weight: fonts.$font-weight-bold;
};

p, div {
  font-family: fonts.$font-family-body;
  font-weight: fonts.$font-weight-normal;
  line-height: 1.5;
};

a, abbr {
  text-decoration: none;
};

main {
  h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
  };

  p {
    color: var(--text-color);
  };
};
