@use './mixins/reset' as *;
@use './mixins/media-query' as *;
@use './variables/fonts';

@import './layout/layout';

// TODO: HOW TO DO THEMES
// :root {
//   /* Your default theme */
//   background: white;
//   color: black;
// };

// [data-theme='dark'] {
//   background: black;
//   color: white;
// };

h1 {
  font-family: fonts.$font-family-heading;
  font-weight: fonts.$font-weight-bold;
};

h2, h3, h4, h5, h6 {
  font-family: fonts.$font-family-subheading;
  font-weight: fonts.$font-weight-bold;
};

p, div {
  font-family: fonts.$font-family-body;
  font-weight: fonts.$font-weight-normal;
};

a {
  text-decoration: none;
};
