@import '../../../globalStyles/colors';
@import '../../../globalStyles/sizes';

.footer {
	// TODO: Fix Footer to bottom of page
	// TODO: Use white Facebook logo instead of blue
	padding-top: 2rem;
	border-top: solid 20px;
	// border-image-source: linear-gradient(90deg, color(homepage, hpc-blue, 2) 0%, color(homepage, hpc-white, 1) 100%);
	border-image: linear-gradient(0deg, color(homepage, hpc-blue, 2), color(homepage, hpc-white, 2)) 100% 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	background: linear-gradient(180deg, color(homepage, hpc-blue, 2), color(homepage, hpc-gray, 1));
	color: color(homepage, hpc-white, 1);

	&__social-media {
		display: flex;
		align-items: center;
		img {
			padding: 0 1rem;
			height: 3rem;
		}
	}
	&__regulatory-bodies {
		a {
			text-decoration: none;
			color: color(homepage, hpc-white, 1);
		}

		li {
			list-style-type: none;
			padding: 0.5rem;

			&:hover {
				background: color(homepage, hpc-white, 1);
				color: color(homepage, hpc-gray, 2);
				font-weight: bold;
			}
		}
	}
	&__copyright {
		background: color(homepage, hpc-gray, 1);
		color: color(homepage, hpc-white, 1);
		font-size: 1.2rem;
	}

	.app-content-container {
		padding: 1rem 0;

		.row {
			display: flex;
			justify-content: center;
			align-items: stretch;

			@include mediaQueryFor(small, max) {
				flex-direction: column;
			}
		}
	}
}